<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include templates/header.ejs%>

<div class="container body-content">



    <h2>Event List</h2>

    <ul>
        <li><a href="www.google.com" target="_blank">GoogleParty</a></li>
        <li><a href="yelp.com/biz/menottis-coffee-stop-venice" target="_blank">Menotti&#39;s Coffee Stop</a></li>
        <li><a href="yelp.com/biz/el-huarique-venice" target="_blank">El Huarique</a></li>
        <li><a href="yelp.com/biz/venice-canals-venice-2" target="_blank">Venice Canals</a></li>
        <li><a href="yelp.com/biz/zeldas-corner-deli-venice" target="_blank">Zelda&#39;s Corner Deli</a></li>
        <li><a href="yelp.com/biz/the-big-daddy-shack-venice-5" target="_blank">The Big Daddy Shack</a></li>
        <li><a href="yelp.com/biz/intelligentsia-coffee-venice" target="_blank">Intelligentsia Coffee</a></li>
        <li><a href="yelp.com/biz/centanni-trattoria-venice" target="_blank">Centanni Trattoria</a></li>
        <li><a href="#" target="_blank">Shane&#39;s Party</a></li>
        <li><a href="#" target="_blank">Mansion Party</a></li>
    </ul>

    <hr />
    <footer>
        <p>&copy; 2016 - Heresay</p>
    </footer>
</div>


</body>
</html>
