<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><New Home Page></h1>
    <p>Welcome I am <%= name %></p>

    <ul>
    <% for(var i=1; i<5; i++) { %>

    <li> chocolate </li>

    <% } %>

    </ul>
  </body>
</html>
